@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    /* font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
}

@layer base {
    /* OVERWRITE */
    /* .font */

    /* GENERAL TEXT */
    h1 {
        @apply text-3xl font-extrabold mb-2
    }

    h2 {
        @apply text-2xl font-bold mb-2
    }

    h3 {
        @apply text-xl font-bold mb-2
    }

    p {
        @apply mb-2
    }
}

@layer components {

    /* CONTAINERS */
    .container {
        @apply flex p-3 gap-2 border border-gray-300 rounded-lg;
    }

    .container:not(.justify-center) {
        @apply flex-col
    }

    .container :is(h1, h2, h3, p, span, .btn) {
        @apply mx-2
    }

    /* BUTTONS */
    .btn {
        @apply py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg select-none border border-transparent outline outline-0 bg-blue-500 text-white hover:bg-blue-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-4;
        outline-color: rgba(59, 130, 245, 0.35);
        box-shadow: rgba(49, 132, 253, 0.2) 0px 0px 0px 0.929107px;
        transition: all ease-out 0.2s;
    }

    /* BUTTONS SMALL */
    .btn-sm {
        @apply text-xs py-1 px-2 font-medium;
    }

    /* CUSTOM BUTTONS */
    .btn-custom {
        @apply bg-gray-500 text-white hover:bg-gray-600;
        outline-color: rgba(169, 169, 169, 0.35);
    }

    /* BUTTONS COLORS */
    .btn-outline {
        @apply border-blue-500 bg-transparent text-blue-500 hover:bg-blue-500 hover:text-white;
    }

    .btn-secondary {
        @apply bg-orange-500 text-white hover:bg-orange-600;
        outline-color: rgba(249, 115, 22, 0.35);
    }

    .btn-outline-secondary {
        @apply border-orange-500 bg-transparent text-orange-500 hover:bg-orange-500 hover:text-white;
        outline-color: rgba(249, 115, 22, 0.35);
    }

    .btn-danger {
        @apply bg-red-500 text-white hover:bg-red-600;
        outline-color: rgba(249, 115, 22, 0.35);
    }

    .btn-outline-danger {
        @apply border-red-500 bg-transparent text-red-500 hover:bg-red-500 hover:text-white;
        outline-color: rgba(249, 115, 22, 0.35);
    }

    .btn-info {
        @apply bg-cyan-300 text-black hover:bg-cyan-400;
    }

    .btn-outline-info {
        @apply border-cyan-500 bg-transparent text-cyan-500 hover:bg-cyan-500 hover:text-white;
    }

    .btn-dark {
        @apply bg-gray-800 text-white hover:bg-gray-600;
        outline-color: rgba(0, 0, 0, 0.35);
    }

    .btn-outline-dark {
        @apply border-gray-700 bg-transparent text-inherit hover:bg-gray-700 hover:text-white;
        outline-color: rgba(0, 0, 0, 0.35);
    }

    .btn-light {
        @apply bg-white text-black hover:bg-slate-100;
        outline-color: rgba(169, 169, 169, 0.35);
    }

    .btn-outline-light {
        @apply border-slate-300 bg-transparent text-inherit hover:bg-gray-100 hover:text-black;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.929107px;
        outline-color: rgba(169, 169, 169, 0.35);
    }

    .btn-link {
        @apply bg-transparent text-blue-600 shadow-none underline hover:bg-transparent;
    }
}

@layer utilities {}